html {
  font-size: 10px;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url("../pic0.jpg");
  background-size: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20rem;  
}

ul>li {
  width: 100%;
  height: 10rem;
  transition: all 0.3s ease-in-out;
}

ul>li:hover {
  cursor: pointer;
  transform: scale(1.1);
}

button {
  width: 20rem;
  height: inherit;
  border: none;
  background-color: white;
  font-size: 2rem;
  padding: 1rem;
}

button:hover {
  background-color: white;
  cursor: pointer;
}

.container {
  display: inherit;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 20rem;
}

.hidden {
  visibility: hidden;
}
